@import url(footer.css);
body, html{
	font-family: "微软雅黑";
	background:#ededed;
}
#container{
	width: 100%;
	height: 1300px;
	/*background: #ededed;*/
}
#main{
	margin: 0 auto;
	width: 1100px;
	padding-top: 0;
}
#header{
	display: block;
	width: 100%;
	height: 50px;
	line-height: 50px;
	font-family: "微软雅黑";
	font-size: 1.2em;
	font-weight: bold;
	color: #4A72D7;
	text-indent: 15px;
}
#left{
	float: left;
	width: 65%;
	height: 100%;
	padding: 15px;
	position: relative;

	}
#right{
	position: relative;
	float: right;
	width: 30%;
	height: 850px;
	border: 1px solid #CEC8C8;
}
.title {
	height: 32px;
	border-bottom: 3px solid #C5C2C2;
	bottom: -20px;
}
 .title h3{
 	display: inline-block;
 	font-size: 18px;
 	font-weight: normal;
 	color: #555;
 	padding-bottom: 5px;
 	border-bottom: 3px solid #32A5E7;
 }
 .QR_cont{
 	width: 250px;
 	height: 250px;
 	margin: 0 auto;
 
 }
 .QR_cont img{
 	border-radius: 10px;
 	border: 5px solid #1FC733;
 }
 #wechat,#zhifubao{
 		display: block;float: left;margin-left:40px ; text-align: center; width: 50px;height: 25px;line-height: 25px; color: #fff;border-radius: 5px 5px 0 0 ;cursor: pointer;
 }
 #zhifubao{
 	float: right;
 	margin-right: 30px;
 }
 .on{
 	 background: #1FC733;}
 .off{
 	background: #B2AEAE;
 }
 #img1{
 }
 #img2{
 	display: none;
 }

#inf{
	width: 920px;
	height: 370px;
	margin-left: 100px;
	background-color: #333;
}
#inf_left{
	float: left;
	width: 350px;
	height: 370px;
	background-repeat: no-repeat;
}
#inf_right{
	float: right;
	width: 500px;
	height:370px;
	background-color: #fff;   /简介目
}
.inf_cont{
	margin-left: 8px;
	width: 100%;
	height: 37px;
}
.inf_type{
	float: left;
	clear: both;
	color: gray;
}
.inf_left{
	margin-left: 3px;
}
.inf_left a{
	text-decoration: none;
}
.inf_left a:visited{color: #205FD8}
.inf_left a:hover{text-decoration: underline;}

.score{
	height: 30px;
	margin-left: 8px;

}
.score_input{
	    width: 70px;
	    height: 25px;
        border:2px solid green ;
	}
.score_certain{
	    height: 29px;
}

#de{
	width: 920px;
	margin-left: 100px;
	margin-right: 100px;
	margin-top:10px;
	background-color: #fff;
}
.de span{
	color: rgb(31,110,238);
	font-size: 1.2em;
}
.de p{
	font-size: 12px;
}


#time{
	width: 920px;
	height: 100%
    vertical-align: middle;
    margin-left: 100px;
	margin-top: 10px;
    background-color: #fff;
}

#dates{
	height: 60px;
	margin-top:10px;
    border-radius-bottom:1px solid red;
}

#dt{
	margin-left: 5px;
    margin-top: 50%;
}

#dates_rigth{
	 background-color: green;
}

table{
	width: 100%;
	border-collapse:collapse;
}
table,th,td{
	border-bottom:1px solid gray;
}
th{
	width: 184px;
    height: 60px;
    text-align: center;
    vertical-align: center;
}
td
{
width: 184px;
height:50px;
text-align:center;
vertical-align: center;
}


.button{
	margin:0 auto;
	width: 100px;
	height: 35px;
	border-radius: 15px;
    background-color: red;
    color: white;
    border:none;
    text-align: center;
     -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.button:hover{
   background-color: green;
   color: white;
}


#plot span{
	color: rgb(31,110,238);
	font-size: 1.2em;
}
#plot p{
	text-indent: 20px;
}
#prevue span{
	color: rgb(31,110,238);
	font-size: 1.2em;
	display: block;
	clear: both;
}
#stagePhoto span{
	color: rgb(31,110,238);
	font-size: 1.2em;
	display: block;
}
#stagePhoto img{
	width: 130px;
	height: 140px;
	float: left;
	margin-right: 5px;
	margin-bottom: 5px;
	border-radius: 2px;
}
#stagePhoto img:hover{
	transition: scale 1s ;
	 transform: scale(1.018);
}
#interest_text a:hover{opacity: 0.9;}
/*评分星星*/
		
#rate {
		transform: rotateY(180deg);
		display: inline-block;
		font-size: 25px;
}

input[type="radio"] {
	display: none;
}

input[type="radio"]:checked + label>span,
input[type="radio"]:checked ~ label>span,
input[type="radio"] + label:hover > span,
input[type="radio"] + label:hover ~ label > span {
	color: gold;
}

input[type="radio"] + label:hover ~ label > span {
	opacity: 0.5;
}

label>span::before {
	content: "☆";
}

label>span::after {
	content:"★";
	display: none
}

input[type="radio"]:checked + label>span::before,
input[type="radio"]:checked  ~ label > span::before,
input[type="radio"] + label:hover > span::before,
input[type="radio"] + label:hover   ~ label > span::before {
	display:none;
}

input[type="radio"]:checked + label>span::after,
input[type="radio"]:checked  ~ label > span::after,
input[type="radio"] + label:hover>span::after, 
input[type="radio"] + label:hover  ~ label > span::after {
	display:inline-block;
}
#Evaluation{
	line-height: 30px;
}