{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>详情介绍</title>
	<link rel="shortcut icon" href="{% static 'film/img/favicon.ico' %}">
</head>
<link rel="stylesheet" href="http://demo.htmleaf.com/1605/201605301540/starability-minified/starability-all.min.css"/>
{#<link rel="stylesheet"  href="{%  static 'film/css/reset.css' %}" >#}
{#<link rel="stylesheet"  href="{% static 'film/css/960.css' %}">#}
{#<link rel="stylesheet"  href="{% static 'film/css/text.css' %}">#}
<link rel="stylesheet" href="{% static 'film/css/nav.css' %}" />
<link rel="stylesheet" href="{% static 'film/css/video.css' %}"/>
<link rel="stylesheet" href="{% static 'film/css/section.css' %}"/>
<link rel="stylesheet" href="http://demo.htmleaf.com/1605/201605301540/starability-minified/starability-all.min.css"/>

<body>
	<nav >
		<ul>
			<a href="../detail/" class="site-name" ><span class="site-name-font">电影<span style="color: black;">详情</span></span></a>
			<!--<img id="logo" src="img/logo.jpg" alt="">-->
			<li> <a href="../home/" name="a1">首页</a></li>
		</ul>
		{% if user_active == 0 %}
              <a href="../login/" id="signin">登录</a><span> /</span>
              <a href="../register/" id="signup">注册</a>
            {% else %}
                <a href="../my/" id="my"></a>
                <a href="../logout/">退出</a>
            {% endif %}
	</nav>
    {% if  film_detail %}
        {% for each in film_detail %}
	<div id="main" ><!--video.css 11-->
		<span id="header">{{ each.filmName }} </span>
				<div id="inf">
					<div id="inf_left">
                        <img src="../media/{{ each.image }}" width="400" height="370" />
                     </div>
                    <div id="inf_right">
                    	<h3><center>电影详情</center></h3></br>
						<div class="inf_cont">
							<span class="inf_type">导演:</span>
							<span class="inf_right">{{ each.filmDName }}</span>
						</div>
						<div class="inf_cont">
							<span class="inf_type">主演:</span>
							<span class="inf_right">{{ each.filmAName }}</span>
						</div>
						<div class="inf_cont">
							<span class="inf_type">类型:</span>
							<span class="inf_right">{{ each.category }}</span>
						</div>
                        <div class="inf_cont">
							<span class="inf_type">时长:</span>
							<span class="inf_right">120分钟</span>
						</div>
						<div class="inf_cont">
							<span class="inf_type">上映日期:</span>
							<span class="inf_right"> {{ each.showDate }}</span>
						</div>

                     <div class="score">
							<span class="inf_type">打分:</span>
							 <form action="../grade/" method="POST">
			                  <input type="text" class="score_input" placeholder="评分0~10" name="num" maxlength="5">
			                  <input type="submit" name="评分" value="确认" class="score_certain" >
				            </form>
                     </div>
				</div><!--inf_right-->
		   </div><!--inf-->

            <div id="de">
				<h3><span>剧情简介</span><h3>
				<p>{{ each.filmSum }}</p>
            </div>
        {% endfor %}
    {% endif %}

	<div id="time"><h3>上映安排：</h3>
       <!--<div id="dates">
          	 <div class="dt">
          	    <span class="inf_type">观影日期:</span>
          	    <span class="dates_right">3月2日</span>
            </div>
	    </div>-->
	    <table style="text-align: center">
	    	 <tr>
                <th>场次时间</th><th>售价（元）</th><th>选座购票</th>
	    	 </tr>
             {% if  filmscences %}
                {% for each in filmscences %}
	    	 <tr>
                    <td>
                        {{ each.dateTime }}
                    </td>
                    <td>
                        30
                    </td>
                    <td>
                        <a href="../buy/{{ each.dateTime }}">选座购票</a>
                    </td>
	    	 </tr>
                {% endfor %}
            {% endif %}
	    </table>
     </div><!--table-->
 </div><!--main-->


	<div class="footer">
		<address class="address">
			<span>肥宅部落：1 <a href="#">三三</a><br></span>
			<span>部落地址：电子科技大学 </span>
		</address>
	</div>
</div>


    <!--
<script>
		var oWc = document.getElementById("wechat");
		var oZfb = document.getElementById("zhifubao");
		oWc.onclick = function(){
			oWc.className = "on";
			oZfb.className = "off";
			document.getElementById("img1").style.display = "block";
			document.getElementById("img2").style.display = "none";
			oZfb.style.background = "#B2AEAE";
		};
		oZfb.onclick = function(){
			oZfb.className = "on";
			oWc.className = "off";
			document.getElementById("img1").style.display = "none";
			document.getElementById("img2").style.display = "block";
			document.getElementById("img2").style.borderColor = "#32A5E7";
			oZfb.style.background = "#32A5E7";

		};
	</script>-->
</body>
</html>