{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="shortcut icon" href="{% static 'film/img/favicon.ico' %}">
	<title>首页</title>
</head>
    <link rel="stylesheet"  href="{%  static 'film/css/reset.css' %}" >
    <link rel="stylesheet"  href="{% static 'film/css/960.css' %}">
     <link rel="stylesheet"  href="{% static 'film/css/text.css' %}">
	<link rel="stylesheet" href="{% static 'film/css/nav.css' %}" />
	<link rel="stylesheet" href="{%  static 'film/css/slidorion_style.css' %}">
	<link rel="stylesheet" href="{%  static 'film/css/slidorion.css' %}">
	<!-- <link rel="stylesheet" href="css/section.css"> -->
	<script src="{%  static 'film/js/jquery.min.js' %}"></script>
	<script src="{%  static 'film/js/jquery.easing.js' %}"></script>
	<script src="{%  static 'film/js/jquery.slidorion.js' %}"></script>
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"> </script>
<body>


{% if errmsg %}
        <li>

            {% for err in errmsg %}
             <p style="color: red;">
                {{err}}
             </p>
              {% endfor %}
        </li>
{% endif %}
{#    导航条#}
	<nav>
		<ul>
			<a href="#" class="site-name" ><span class="site-name-font">肥宅<span style="color: black;">电影</span></span></a>
			<!--<img id="logo" src="slide_1.png" alt="">-->
			<li> <a href="#" name="a1">首页</a></li>
		</ul>
        {% if user_active == 0 %}
              <a href="../login/" id="signin">登录</a><span> /</span>
              <a href="../register/" id="signup">注册</a>
            {% else %}
                <a href="../my/" id="my"></a>
                <a href="../logout/">退出</a>
            {% endif %}
        <form action="../search/" method="POST">

          <div id="scbox">
			<select name="selectOne"  id="select1">
				<option value="0">电影名	</option>
				<option value="1">导演名</option>
			</select>
			<input type="text"  name="searchCont" id="input1" placeholder="输入搜索内容" >
	        <input type="submit" name="搜索"  value="搜索" id="input2">
		  </div>
       </form>

	</nav>

<div id="main">
    {#    许多电影图  较大#}
    <div id="filmContainer"><!--上方电影图-->
         <div id="item-11"></div>
         <div id="item-12"></div>
         <div id="item-13"></div>
         <div id="item-14"></div>
         <div id="item-15"></div>
         <div id="item-16"></div>
         <div id="item-21"></div>
         <div id="item-22"></div>
         <div id="item-23"></div>
         <div id="item-24"></div>
         <div id="item-25"></div>
         <div id="item-26"></div>
	</div><!--电影图片完-->

    {# 电影分类 #}
	 <div class="catecontainer">
         <div class="head"><div class="guide">电影分类</div></div>
          <form  action="../search/" method="POST"  name="category">
                <input type="submit" name="喜剧"  value="喜剧" id="cate">
                <input type="submit" name="爱情" value="爱情" id="cate">
                <input type="submit" name="动作" value="动作" id="cate" >
                <input type="submit" name="恐怖" value="恐怖" id="cate">
                <input type="submit" name="科幻"  value="科幻" id="cate">
                <input type="submit" name="动画"  value="动画" id="cate">
          </form>
	</div><!--分类完-->
{##}
{#{ #   正在热映电影图6个+热映榜单#}
    <div class="container">
		<div class="head"><div class="guide">正在热映榜单</div></div>
		{# 正在热映电影图 6个#}

        <div id="ZContainer">
            {% if film_list %}
                {% for each in film_list %}
                    {% if forloop.counter <= 3 %}
                        <div id="item" ><img src="../../media/{{ each.image }} " width="200" height="100" /></div>
                        {% else %}
                         <div id="item1" ><img src="../../media/{{ each.image }} " width="200" height="100" /></div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
        {# 正在热映榜单 5个 #}
        <div id="leftBan">
            <div class="Listhead">正在上映榜</div>
                {%  if film_list %}
                    <ol id="Listitem">
                    {% for each in film_list %}
                        {%if forloop.counter <= 4 %}
                            <li>{{ each.filmName }}</li>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                            <li><a href="../searche/0">更多></a></li>
                    </ol>
        </div>
    </div>
{#    <!--热映container完结-->#}


{#     即将上映 #}
    <div class="container">
		<div class="head"><div class="guide">即将上映</div></div>
        <div id="ZContainer">
{#            <!--即将上映电影图片 6个-->#}
    	    <div id="item-1"></div>
    	    <div id="item-2"></div>
    	    <div id="item-3"></div>
    	    <div id="item-4"></div>
            <div id="item-5"></div>
    	    <div id="item-6"></div>
        </div>
        <div id="rightBan">
        	 <div class="Listhead">即将上映 </div>
                {%  if noshow_filmlist %}
                    {% for each in noshow_filmlist %}
                        {%if forloop.counter <= 2 %}
                            <ol id="Listitem"><li>{{ each.filmName }}</li> </ol>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                <ol id="Listitem"><li><a href="../searche/1" >更多></a></li></ol>
        </div>
        </div><!--即将上映完结-->
    </div><!--main 完-->
</div>
<div class="footer">
		<address class="address">
			<span>肥宅部落： <a href="#">三三</a><br></span>
			<span>部落地址：电子科技大学 1</span>
		</address>
</div>
<script>
	$(document).ready(function(){
	    $('#slidorion').slidorion({
	        speed: 500,
	        interval: 4000,
	        first: section2,
	        effect: 'overRight',
	    });
	});
</script>
<script>
    $("#Listitem li").click(function(){
        var tem =$(this).html();
        $.ajax({
            type:'POST',
            url:"",
            data:{"filmName":tem},
            success:window.location.href="../detail/"
        })
    })

</script>
</body>
</html>