<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="shortcut icon" href="{% static 'film/img/favicon.ico' %}">
	<title>首页</title>
</head>
	<link rel="stylesheet" href="{% static 'film/css/nav.css' %}" />
	<link rel="stylesheet" href="{%  static 'film/css/slidorion_style.css' %}">
	<link rel="stylesheet" href="{%  static 'film/css/slidorion.css' %}">
	<!-- <link rel="stylesheet" href="css/section.css"> -->
	<script src="{%  static 'film/js/jquery.min.js' %}"></script>
	<script src="{%  static 'film/js/jquery.easing.js' %}"></script>
	<script src="{%  static 'film/js/jquery.slidorion.js' %}"></script>
<body>

{% if errmsg %}
        <li>

            {% for err in errmsg %}
             <p style="color: red;">
                {{err}}
             </p>
              {% endfor %}
        </li>
{% endif %}
	<nav >
		<ul>
			<a href="#" class="site-name" ><span class="site-name-font">肥宅<span style="color: black;">电影</span></span></a>
			<img id="logo" src="slide_1.png" alt="">
			<li> <a href="#" name="a1">首页</a></li>
			<li> <a href="../li/" name="a1">购票</a></li>
			<li> <a href="../myinf/">个性推荐</a></li>
		</ul>
		<a href="../register/" id="signup">注册</a>
		<a href="../logIn/" id="signin">登录</a>

        <form action="" method="get">
		<div id="scbox">
			<select name="selectOne"  id="select1">
				<option value="0">电影名	</option>
				<option value="1"> 导演名</option>
			</select>
			<input type="text"  name="searchCont" id="input1" placeholder="输入搜索内容" >
	        <input type="submit" name="搜索"  value="搜索" id="input2">
		</div>
       </form>

	</nav>

<div id="main">
	
  <div id="baner">
      <div id="sleft">
         <div id="photo">
	            <img src="http://demo.htmleaf.com/1410/201410071644/img/kung-fu-panda.jpg" width="588" height="460" />
	       
	            <img src="http://demo.htmleaf.com/1410/201410071644/img/the-dark-knight.jpg" width="588" height="460" />
	      
	            <img src="http://demo.htmleaf.com/1410/201410071644/img/hot-fuzz.jpg" width="588" height="460" />
	        
         </div>
     </div>
      <div id="rightBan">
      	<div id="Listhead"><li>最热榜单</li></div>
      	<div id="Listitem"><ul>第一</ul></div>
      	<div id="Listitem"><ul>第一</ul></div>
      	<div id="Listitem"><ul>第一</ul></div>
      	<div id="Listitem"><ul>第一</ul></div>
      	<div id="Listitem"><ul>第一</ul></div>
      	<div id="Listitem"><ul>第一</ul></div>
      	<div id="Listitem"><ul>第一</ul></div>
      	<div id="Listitem"><ul>第一</ul></div>
      	<div id="Listitem"><ul>第一</ul></div>
      	<div id="Listitem"><ul>第一</ul></div>
      	
      </div>
  </div>


	 
	<div class="container">
		<div class="head">
				<div class="guide">正在上映</div>
				<a href="seeing.html" class="seemore">更多></a>
		</div>
		<div class="cont_main">
			<a href="#">
				<div class="video">
					<div class="aaa">
						<span class="quality">HD</span>
						<span class="videoName"><h5>银河护卫队2</h5></span>
						<a href="video.html"><img src="http://i2.muimg.com/1949/d57801b2b58e9307.jpg" alt=""></a>
					</div>
					<div class="mask">
						<h3>银河护卫队2</h3>
						<p>漫威影业最新力作《银河护卫队2》带着全新劲爆好听的“劲歌金曲第二辑”回归大银幕！银河护卫队在本集中穿越宇宙，继续外太空的史诗冒险之旅。他们必须共同作战，守护彼此；同时要解开“星爵”彼得·奎尔的身世之谜。旧日敌人变为盟友，漫画中深受喜爱的角色也会现身，对护卫队出手援助。漫威电影宇宙则将持续扩张，进入新纪元！</p>
						<a href="video.html" class="link">查看全文</a>
					</div></div>
			</a>
			<a href="#">
				<div class="video">
					<span class="quality">HD</span>
					<span class="videoName"><h5>The Guardians</h5></span>
					<a href="#"><img src="http://i2.muimg.com/1949/c23c29e70d132df6.jpg" alt=""></a>
					<div class="mask">
						<h3>银河护卫队2</h3>
						<p>漫威影业最新力作《银河护卫队2》带着全新劲爆好听的“劲歌金曲第二辑”回归大银幕！银河护卫队在本集中穿越宇宙，继续外太空的史诗冒险之旅。他们必须共同作战，守护彼此；同时要解开“星爵”彼得·奎尔的身世之谜。旧日敌人变为盟友，漫画中深受喜爱的角色也会现身，对护卫队出手援助。漫威电影宇宙则将持续扩张，进入新纪元！</p>
						<a href="video.html" class="link">查看全文</a>
					</div>
				</div>
			</a>
			<a href="#">
				<div class="video">
					<span class="quality">HD</span>
					<span class="videoName"><h5>Before I Fall</h5></span>
					<a href=""><img src="../img/h1.png" alt=""></a>
					<div class="mask">
						<h3>银河护卫队2</h3>
						<p>漫威影业最新力作《银河护卫队2》带着全新劲爆好听的“劲歌金曲第二辑”回归大银幕！银河护卫队在本集中穿越宇宙，继续外太空的史诗冒险之旅。他们必须共同作战，守护彼此；同时要解开“星爵”彼得·奎尔的身世之谜。旧日敌人变为盟友，漫画中深受喜爱的角色也会现身，对护卫队出手援助。漫威电影宇宙则将持续扩张，进入新纪元！</p>
						<a href="video.html" class="link">查看全文</a>
					</div>
				</div>
			</a>
			<a href="#">
				<div class="video">
					<span class="quality">HD</span>
					<span class="videoName"><h5>[18+]Personal Shopper</h5></span>
					<a href="#"><img src="http://i2.muimg.com/1949/3318e6ee18f5eab3.jpg" alt=""></a>
					<div class="mask">
						<h3>银河护卫队2</h3>
						<p>漫威影业最新力作《银河护卫队2》带着全新劲爆好听的“劲歌金曲第二辑”回归大银幕！银河护卫队在本集中穿越宇宙，继续外太空的史诗冒险之旅。他们必须共同作战，守护彼此；同时要解开“星爵”彼得·奎尔的身世之谜。旧日敌人变为盟友，漫画中深受喜爱的角色也会现身，对护卫队出手援助。漫威电影宇宙则将持续扩张，进入新纪元！</p>
						<a href="video.html" class="link">查看全文</a>
					</div>
				</div>
			</a>
			<a href="#">
				<div class="video">
					<span class="quality">HD</span>
					<span class="videoName"><h5>速度与激情8</h5></span>
					<a href="#"><img src="http://i2.muimg.com/1949/70eb42bbae2f391f.jpg" alt=""></a>
					<div class="mask">
						<h3>银河护卫队2</h3>
						<p>漫威影业最新力作《银河护卫队2》带着全新劲爆好听的“劲歌金曲第二辑”回归大银幕！银河护卫队在本集中穿越宇宙，继续外太空的史诗冒险之旅。他们必须共同作战，守护彼此；同时要解开“星爵”彼得·奎尔的身世之谜。旧日敌人变为盟友，漫画中深受喜爱的角色也会现身，对护卫队出手援助。漫威电影宇宙则将持续扩张，进入新纪元！</p>
						<a href="video.html" class="link">查看全文</a>
					</div>
				</div>
			</a>
			<a href="#">
				<div class="video">
					<span class="quality">HD</span>
					<span class="videoName"><h5>蓝精灵</h5></span>
					<a href=""><img src="http://i2.muimg.com/1949/827a7433cf033330.jpg" alt=""></a>
					<div class="mask">
						<h3>银河护卫队2</h3>
						<p>漫威影业最新力作《银河护卫队2》带着全新劲爆好听的“劲歌金曲第二辑”回归大银幕！银河护卫队在本集中穿越宇宙，继续外太空的史诗冒险之旅。他们必须共同作战，守护彼此；同时要解开“星爵”彼得·奎尔的身世之谜。旧日敌人变为盟友，漫画中深受喜爱的角色也会现身，对护卫队出手援助。漫威电影宇宙则将持续扩张，进入新纪元！</p>
						<a href="video.html" class="link">查看全文</a>
					</div>
				</div>
			</a>
			<a href="#">
				<div class="video">
					<span class="quality">HD</span>
					<span class="videoName"><h5>Boss Baby</h5></span>
					<a href="#"><img src="http://i2.muimg.com/1949/1299e5249ad5401b.jpg" alt=""></a>
					<div class="mask">
						<h3>银河护卫队2</h3>
						<p>漫威影业最新力作《银河护卫队2》带着全新劲爆好听的“劲歌金曲第二辑”回归大银幕！银河护卫队在本集中穿越宇宙，继续外太空的史诗冒险之旅。他们必须共同作战，守护彼此；同时要解开“星爵”彼得·奎尔的身世之谜。旧日敌人变为盟友，漫画中深受喜爱的角色也会现身，对护卫队出手援助。漫威电影宇宙则将持续扩张，进入新纪元！</p>
						<a href="video.html" class="link">查看全文</a>
					</div>
				</div>
			</a>
			<a href="#">
				<div class="video">
					<span class="quality">HD</span>
					<span class="videoName"><h5>Power Rangers</h5></span>
					<a href="#"><img src="http://i2.muimg.com/1949/ee281d053d8d157f.jpg" alt=""></a>
					<div class="mask">
						<h3>银河护卫队2</h3>
						<p>漫威影业最新力作《银河护卫队2》带着全新劲爆好听的“劲歌金曲第二辑”回归大银幕！银河护卫队在本集中穿越宇宙，继续外太空的史诗冒险之旅。他们必须共同作战，守护彼此；同时要解开“星爵”彼得·奎尔的身世之谜。旧日敌人变为盟友，漫画中深受喜爱的角色也会现身，对护卫队出手援助。漫威电影宇宙则将持续扩张，进入新纪元！</p>
						<a href="video.html" class="link">查看全文</a>
					</div>
				</div>
			</a>
		</div>
	</div>
	<div class="container">
		<div class="head">
				<div class="guide">近期上映</div>
				<a href="li.html" class="seemore">See more></a>
		</div>
		<div class="cont_main">
			<a href="#">
				<div class="video">
					<span class="tv">12</span>
					<span class="videoName"><h5>Catfish The TV Show</h5></span>
					<a href=""><img src="http://i4.buimg.com/1949/51e122b27db7cdc2.jpg" alt=""></a>
					<div class="mask">
						<h3>银河护卫队2</h3>
						<p>漫威影业最新力作《银河护卫队2》带着全新劲爆好听的“劲歌金曲第二辑”回归大银幕！银河护卫队在本集中穿越宇宙，继续外太空的史诗冒险之旅。他们必须共同作战，守护彼此；同时要解开“星爵”彼得·奎尔的身世之谜。旧日敌人变为盟友，漫画中深受喜爱的角色也会现身，对护卫队出手援助。漫威电影宇宙则将持续扩张，进入新纪元！</p>
						<a href="video.html" class="link">查看全文</a>
					</div>
				</div>
			</a>
			<a href="#">
				<div class="video">
					<span class="tv">8</span>
					<span class="videoName"><h5>Green leaf</h5></span>
					<a href=""><img src="http://i4.buimg.com/1949/048b3162ce82d33b.jpg" alt=""></a>
					<div class="mask">
						<h3>银河护卫队2</h3>
						<p>漫威影业最新力作《银河护卫队2》带着全新劲爆好听的“劲歌金曲第二辑”回归大银幕！银河护卫队在本集中穿越宇宙，继续外太空的史诗冒险之旅。他们必须共同作战，守护彼此；同时要解开“星爵”彼得·奎尔的身世之谜。旧日敌人变为盟友，漫画中深受喜爱的角色也会现身，对护卫队出手援助。漫威电影宇宙则将持续扩张，进入新纪元！</p>
						<a href="video.html" class="link">查看全文</a>
					</div>
				</div>
			</a>
			<a href="#">
				<div class="video">
					<span class="tv">15</span>
					<span class="videoName"><h5>Total Divas-Season 6</h5></span>
					<a href=""><img src="http://i4.buimg.com/1949/2cb5d95e576800ff.jpg" alt=""></a>
					<div class="mask">
						<h3>银河护卫队2</h3>
						<p>漫威影业最新力作《银河护卫队2》带着全新劲爆好听的“劲歌金曲第二辑”回归大银幕！银河护卫队在本集中穿越宇宙，继续外太空的史诗冒险之旅。他们必须共同作战，守护彼此；同时要解开“星爵”彼得·奎尔的身世之谜。旧日敌人变为盟友，漫画中深受喜爱的角色也会现身，对护卫队出手援助。漫威电影宇宙则将持续扩张，进入新纪元！</p>
						<a href="video.html" class="link">查看全文</a>
					</div>
				</div>
			</a>
			<a href="#">
				<div class="video">
					<span class="tv">54</span>
					<span class="videoName"><h5>名侦探柯南</h5></span>
					<a href=""><img src="http://i4.buimg.com/1949/314d344978a40642.jpg" alt=""></a>
					<div class="mask">
						<h3>银河护卫队2</h3>
						<p>漫威影业最新力作《银河护卫队2》带着全新劲爆好听的“劲歌金曲第二辑”回归大银幕！银河护卫队在本集中穿越宇宙，继续外太空的史诗冒险之旅。他们必须共同作战，守护彼此；同时要解开“星爵”彼得·奎尔的身世之谜。旧日敌人变为盟友，漫画中深受喜爱的角色也会现身，对护卫队出手援助。漫威电影宇宙则将持续扩张，进入新纪元！</p>
						<a href="video.html" class="link">查看全文</a>
					</div>
				</div>
			</a>
			<a href="#">
				<div class="video">
					<span class="tv">8</span>
					<span class="videoName"><h5>Short Fire-Season 1</h5></span>
					<a href=""><img src="http://i4.buimg.com/1949/86580e31dbe42660.png" alt=""></a>
					<div class="mask">
						<h3>银河护卫队2</h3>
						<p>漫威影业最新力作《银河护卫队2》带着全新劲爆好听的“劲歌金曲第二辑”回归大银幕！银河护卫队在本集中穿越宇宙，继续外太空的史诗冒险之旅。他们必须共同作战，守护彼此；同时要解开“星爵”彼得·奎尔的身世之谜。旧日敌人变为盟友，漫画中深受喜爱的角色也会现身，对护卫队出手援助。漫威电影宇宙则将持续扩张，进入新纪元！</p>
						<a href="video.html" class="link">查看全文</a>
					</div>
				</div>
			</a>
			<a href="#">
				<div class="video">
					<span class="tv">20</span>
					<span class="videoName"><h5>绿箭侠-Season 5</h5></span>
					<a href=""><img src="http://i4.buimg.com/1949/3c37cb1e4fed49ed.jpg" alt=""></a>
					<div class="mask">
						<h3>银河护卫队2</h3>
						<p>漫威影业最新力作《银河护卫队2》带着全新劲爆好听的“劲歌金曲第二辑”回归大银幕！银河护卫队在本集中穿越宇宙，继续外太空的史诗冒险之旅。他们必须共同作战，守护彼此；同时要解开“星爵”彼得·奎尔的身世之谜。旧日敌人变为盟友，漫画中深受喜爱的角色也会现身，对护卫队出手援助。漫威电影宇宙则将持续扩张，进入新纪元！</p>
						<a href="video.html" class="link">查看全文</a>
					</div>
				</div>
			</a>
			<a href="#">
				<div class="video">
					<span class="tv">12</span>
					<span class="videoName"><h5>Teen Titans Go!</h5></span>
					<a href=""><img src="http://i4.buimg.com/1949/5973d9ea23e0af5f.jpg" alt=""></a>
					<div class="mask">
						<h3>银河护卫队2</h3>
						<p>漫威影业最新力作《银河护卫队2》带着全新劲爆好听的“劲歌金曲第二辑”回归大银幕！银河护卫队在本集中穿越宇宙，继续外太空的史诗冒险之旅。他们必须共同作战，守护彼此；同时要解开“星爵”彼得·奎尔的身世之谜。旧日敌人变为盟友，漫画中深受喜爱的角色也会现身，对护卫队出手援助。漫威电影宇宙则将持续扩张，进入新纪元！</p>
						<a href="video.html" class="link">查看全文</a>
					</div>
				</div>
			</a>
			<a href="#">
				<div class="video">
					<span class="tv">10</span>
					<span class="videoName"><h5>Power Rangers</h5></span>
					<a href=""><img src="http://i4.buimg.com/1949/5a1b399ea0c29a49.jpg" alt=""></a>
					<div class="mask">
						<h3>银河护卫队2</h3>
						<p>漫威影业最新力作《银河护卫队2》带着全新劲爆好听的“劲歌金曲第二辑”回归大银幕！银河护卫队在本集中穿越宇宙，继续外太空的史诗冒险之旅。他们必须共同作战，守护彼此；同时要解开“星爵”彼得·奎尔的身世之谜。旧日敌人变为盟友，漫画中深受喜爱的角色也会现身，对护卫队出手援助。漫威电影宇宙则将持续扩张，进入新纪元！</p>
						<a href="video.html" class="link">查看全文</a>
					</div>
				</div>
			</a>
		</div>
	</div>
</div>
<div class="footer">
		<address class="address">
			<span>肥宅部落： <a href="#">三三</a><br></span>
			<span>部落地址：电子科技大学 </span>	
		</address>
	</div>
<script>
	$(document).ready(function(){
	    $('#slidorion').slidorion();
	});
	</script>
<script>
	$(document).ready(function(){
	    $('#slidorion').slidorion({
	        speed: 500,
	        interval: 4000,
	        first: section2,
	        effect: 'overRight',
	    });
	});
</script>
</body>
</html>