{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="shortcut icon" href="{% static 'film/img/favicon.ico' %}">
	<title>首页</title>
</head>
	<link rel="stylesheet" href="{% static 'film/css/nav.css' %}" />
	<link rel="stylesheet" href="{%  static 'film/css/slidorion_style.css' %}">
	<link rel="stylesheet" href="{%  static 'film/css/slidorion.css' %}">
	<!-- <link rel="stylesheet" href="css/section.css"> -->
	<script src="{%  static 'film/js/jquery.min.js' %}"></script>
	<script src="{%  static 'film/js/jquery.easing.js' %}"></script>
	<script src="{%  static 'film/js/jquery.slidorion.js' %}"></script>
<body>

{% if errmsg %}
        <li>

            {% for err in errmsg %}
             <p style="color: red;">
                {{err}}
             </p>
              {% endfor %}
        </li>
{% endif %}
{#    导航条#}
	<nav>
		<ul>
			<a href="#" class="site-name" ><span class="site-name-font">肥宅<span style="color: black;">电影</span></span></a>
			<img id="logo" src="slide_1.png" alt="">
			<li> <a href="#" name="a1">首页</a></li>
			<li> <a href="../li/" name="a1">购票</a></li>
			<li> <a href="../myinf/">个性推荐</a></li>
		</ul>
		<a href="../register/" id="signup">注册</a>
		<a href="../logIn/" id="signin">登录</a>

        <form action="" method="post">
		<div id="scbox">
			<select name="selectOne"  id="select1">
				<option value="0">电影名	</option>
				<option value="1"> 导演名</option>
			</select>
            {% if user_active == 0 %}
              <a href="../login/" id="signin">登录</a><span> /</span>
              <a href="../register/" id="signup">注册</a>
            {% else %}
              <a href="../my/" id="my"></a>
            {% endif %}

			<input type="text"  name="searchCont" id="input1" placeholder="输入搜索内容" >
	        <input type="submit" name="搜索"  value="搜索" id="input2">
		</div>
       </form>

	</nav>
{#    主菜单#}
<div id="main">
    <div id="baner">
        <div id="sleft">
{#            展示电影#}
            <div id="photo">
                <img src="http://demo.htmleaf.com/1410/201410071644/img/kung-fu-panda.jpg" width="588" height="460" />

                <img src="http://demo.htmleaf.com/1410/201410071644/img/the-dark-knight.jpg" width="588" height="460" />

                <img src="http://demo.htmleaf.com/1410/201410071644/img/hot-fuzz.jpg" width="588" height="460" />
            </div>
        </div>
    </div>

{ #   电影榜单#}
    <div class="container">
		<div class="head">
            <div class="guide">热门榜单</div>
		</div>
		<div class="cont_main">
        {# 热门榜单 #}
	        <div id="leftBan">
                 	<div id="Listhead"><li>最热榜单</li></div>
                {{ filmlist}}
            </div>
         <!--<div id="Listhead"><li>个性榜单</li></div>
      	<div id="Listitem"><ul>第一</ul></div>
      	<div id="Listitem"><ul>第一</ul></div>
      	<div id="Listitem"><ul>第一</ul></div>
      	<div id="Listitem"><ul>第一</ul></div>
      	<div id="Listitem"><ul>第一</ul></div>
      	<div id="Listitem"><ul>第一</ul></div>
      	<div id="Listitem"><ul>第一</ul></div>
      	<div id="Listitem"><ul>第一</ul></div>
      	<div id="Listitem"><ul>第一</ul></div>	-
      <a href="seeing.html" >更多></a>-->

        {# 热门榜单 #}
        <div id="rightBan">
            <div id="Listhead"><li>最近上映</li></div>
            {{ noshow_filmlist }}
        </div>
           <!-- <div id="Listhead"><li>最热榜单</li></div>
            <div id="Listitem"><ul>第一</ul></div>
            <div id="Listitem"><ul>第一</ul></div>
            <div id="Listitem"><ul>第一</ul></div>
            <div id="Listitem"><ul>第一</ul></div>
            <div id="Listitem"><ul>第一</ul></div>
            <div id="Listitem"><ul>第一</ul></div>
            <div id="Listitem"><ul>第一</ul></div>
            <div id="Listitem"><ul>第一</ul></div>
            <div id="Listitem"><ul>第一</ul></div>
            <div id="Listitem"><ul>第一</ul></div>-->
    </div>
{#    正在上映电影#}
	<div class="container">
		<div class="head">
				<nav class="guide">电影分类</nav>
				<a href="seeing.html" class="seemore">更多</a>
		</div>
		<div class="cont_main">
           <form  action="#" method="post"  name="category">
                     	<input type="submit" name="喜剧片"  value="喜剧片">  </br></br></br>
                     	<input type="submit" name="文艺片" value="文艺片"></form></br></br></br>
                     	<input type="submit" name="音乐片" value="音乐片"></br></br>
                     	<input type="button" name="科幻片"  value="科幻片"></br></br>
                     	</br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br>
            </form>

		</div>
	</div>
</div>
<div class="footer">
		<address class="address">
			<span>肥宅部落： <a href="#">三三</a><br></span>
			<span>部落地址：电子科技大学 </span>	
		</address>
	</div>
<script>
	$(document).ready(function(){
	    $('#slidorion').slidorion({
	        speed: 500,
	        interval: 4000,
	        first: section2,
	        effect: 'overRight',
	    });
	});
</script>
</body>
</html>