{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<link rel="shortcut icon" href="{% static 'film/img/favicon.ico' %}">
	<title>个人中心</title>
</head>
<link rel="stylesheet" href="{% static 'film/css/nav.css' %}" />
	<link rel="stylesheet" href="{%  static 'film/css/slidorion_style.css' %}">
	<link rel="stylesheet" href="{%  static 'film/css/slidorion.css' %}">
	<!-- <link rel="stylesheet" href="css/section.css"> -->
	<script src="{%  static 'film/js/jquery.min.js' %}"></script>
	<script src="{%  static 'film/js/jquery.easing.js' %}"></script>
	<script src="{%  static 'film/js/jquery.slidorion.js' %}"></script>
<body>

{% if errmsg %}
        <li>

            {% for err in errmsg %}
             <p style="color: red;">
                {{err}}
             </p>
              {% endfor %}
        </li>
{% endif %}
{#    导航条#}
	<nav>
		<ul>
			<a href="#" class="site-name" ><span class="site-name-font">肥宅<span style="color: black;">电影</span></span></a>
			<img id="logo" src="slide_1.png" alt="">
			<li> <a href="#" name="a1">首页</a></li>
			<li> <a href="../li/" name="a1">购票</a></li>
			<li> <a href="../myinf/">个性推荐</a></li>
		</ul>
    </nav>
{#    主菜单#}
<div id="mymain">
	    <div id="myset">
	    	<div id="myleft">
	    		<div id="mycharacter"></div>
	    		<div id="myname"><li>皮卡丘</li></div>
	    	</div>
        </div>
</div>
<div class="footer">
		<address class="address">
			<span>肥宅部落： <a href="#">三三</a><br></span>
			<span>部落地址：电子科技大学 </span>
		</address>
	</div>
<script>
	$(document).ready(function(){
	    $('#slidorion').slidorion({
	        speed: 500,
	        interval: 4000,
	        first: section2,
	        effect: 'overRight',
	    });
	});
</script>
</body>
</html>
