@import url(../css/section.css);
@import url(../960-Grid-System-master/code/css/reset.css);
@import url(../960-Grid-System-master/code/css/960.css);
@import url(../960-Grid-System-master/code/css/text.css);
@import url(footer.css);
html,body{height:100%}
nav{
			position: relative;
			top: 0;
			left: 0;
			z-index:999;
			width: 100%; 
			height: 60px;
			font-size: 15px;
			background:#0c0f08;
		}
		nav ul{
            position: absolute;
            top: 0;
            /*left: 50px;*/
            /*left: 362px;*/
            left:20%;
			width: 980px;
			height: 60px;
			margin: 0 auto;
            line-height: 60px;
		}
		nav ul li {
            top: 0;
            display: inline-block;
			float: left;
            overflow: hidden;
			list-style: none;
            margin-left: 0;
		}
		nav a{
			display: inline-block;
			width: 100px;
			height: 60px;
			color:#1296db;
			line-height: 60px;
			margin: 0 auto;
			text-align: center;
			text-decoration:none;
			font-weight: bold;
			font-family: "微软雅黑";
			font-size: 16px;
		}

		nav a:hover{
			text-decoration: none;
			/*background:white;*/
            background:#403756;
			/*color:#403756;*/
			transition:  color .10s linear;
		}
        nav ul  .site-name-font{
            width: 180px;
            height: 60px;
            line-height: 60px;
            display: inline-block;
            font-weight: bold;
            font-size: 22px;
            letter-spacing: 1px;
            color: #256EEE;
        }
        .site-name{
            display: inline-block;
            float: left;
            overflow: hidden;
            width: 180px;
            height: 60px;
            line-height: 60px;
            margin-top: 0;
            text-decoration: none;
        }
        nav ul al{
            display: inline-block;
			width: 400px;
			height: 60px;
            float: left;
			/*color:#1296db;*/
			line-height: 60px;
			/*margin: 0 auto;*/
            /*margin-right:20%;*/
			text-align: center;
			text-decoration:none;
        }
	#logo{
      display: inline-block;
      float: left;
        overflow: hidden;
      width: 70px;
      height: 40px;
      margin-right: 0;
      margin-top: 10px;
    }
    #signin{
 		/*position: absolute;
 		top: 10px;
 		right: 150px;*/
    	display: inline-block;
        float: right;
        overflow: hidden;
    	width: 60px;
    	height: 35px;
    	line-height: 35px;
    	color: #fff;
    	border-radius: 5px;
    	background: #256EEE;
    	font-family: "微软雅黑";
        margin-top: 10px;
    }
    #signin:hover{
    	opacity: 0.9;
    	transition:opacity .10s linear;
    }
    #signup{
 		/*position: absolute;
 		top: 10px;
 		right: 60px;*/
    	display: inline-block;
        float: right;
        overflow: hidden;
    	width: 60px;
    	height: 35px;
    	line-height: 35px;
    	color: #fff;
    	border-radius: 5px;
    	background: #EE25BB;
    	font-family: "微软雅黑";
        margin-top: 10px;
    }
    #signup:hover{
    	opacity: 0.9;
    	transition:opacity .10s linear;
    }

  #out{
 		/*position: absolute;
 		top: 10px;
 		right: 60px;*/
    	display: inline-block;
        float: right;
      overflow: hidden;
    	width: 50px;
    	height: 40px;
    	line-height: 50px;
    	color: #fff;
    	border-radius: 5px;
    	/*background-color: gray;*/
        background: url("../img/tuichu.png");
      font-family: "微软雅黑";
        margin-top: 10px;
    }
    #out:hover{
    	opacity: 0.9;
    	transition:opacity .10s linear;
    }
#my{
        display: inline-block;
        float: right;
    overflow: hidden;
        width: 50px;
        height: 40px;
        line-height: 50px;
        color: #333;
        border-radius: 5px;
        /*background: #EE25BB;*/
        background:url(../img/my.png);
        background-size:40px 40px;
        background-repeat: no-repeat;
        font-family: "微软雅黑";
        margin-top: 10px;
       -webkit-transition-duration: 0.4s; /* Safari */
       transition-duration: 0.4s;
     }
   #my:hover{
       background-color: #333333;
    }
  #scbox{
     /*display: -webkit-box;*/
      display: inline-flex;
      clear: both;
    /*display: inline-block;*/
    position: relative;
    vertical-align:middle;

    width: 340px;
    height: 38px;
    /*margin-top: 0px;*/
    background-color:#fff;
    border: 2px solid gray;
      border-radius: 15px;
    }
    #select1{
    /*display:inline-block;*/
    /*position: relative;*/
    /*vertical-align:middle;*/
    /*float: left;*/
    width: 60px;
    height: 37px;
    /*font-family: "微软雅黑";*/
    font-size: 11px;
    border: none;
    border-radius: 15px 0px 0px 15px;
    }

    #input1{
    /*display: inline-block;*/
    /*position: relative;*/
    /*vertical-align:middle;*/
    width: 235px;
    height: 33px;
    border: none;
    }

    #input2{
    /*display: inline-block;*/
    /*position: relative;*/
    /*float: right;*/
    width: 45px;
    height: 37px;
    border: none;
    color: #ffffff;
    background-color:gray;
    /*color: #fff;*/
    border-radius:0px 15px 15px 0px;
     -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    }
     #input2:hover{
    background-color:#1296db;
    }

/*select
  .sc{
        display: inline-block;
    	position:relative;
        float: right;
        width: 300px;
    	height: 36px;
        margin-top: 10px;
        background-color: black;
    }
    .search{
    	
        width: 240px;
    	height: 40px;
    	display: relative;
        float: left;
    	border: 2px solid #D2CCCC;
    	padding-left: 5px;
    	outline: none;
    }
    .search.searchIcon{
        width: 60px;
        height: 36px;
        border:2px solid red;
        display: relative;
        float: right;
    }
    .searchIcon:hover{
    	opacity: 0.8;
    }
*/
